/*
PROJECT STYLES
==============
Imports all project style components.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 380px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: #333333; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333333; }

h1 {
  font-size: 52px;
  font-weight: 500;
  width: 100%;
  text-align: center; }
  @media all and (max-width: 767px) {
    h1 {
      font-size: 42px; } }
  @media all and (max-width: 575px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center; }

h3 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: 500; }
  @media all and (max-width: 767px) {
    h3 {
      font-size: 32px; } }
  @media all and (max-width: 575px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 26px;
  font-weight: 500; }

p {
  line-height: 28px; }
  @media all and (max-width: 575px) {
    p {
      font-size: 15px;
      line-height: 24px; } }

.main {
  width: 75%;
  max-width: 1200px;
  margin: auto; }
  @media all and (max-width: 1199px) {
    .main {
      width: 100%;
      padding: 0 80px; } }
  @media all and (max-width: 767px) {
    .main {
      padding: 0 50px; } }
  @media all and (max-width: 575px) {
    .main {
      padding: 0 15px; } }

.section {
  margin-bottom: 50px; }
  .section--title {
    position: relative;
    margin-bottom: 20px; }
    @media all and (max-width: 767px) {
      .section--title {
        margin-bottom: 10px; } }
    @media all and (max-width: 575px) {
      .section--title {
        margin-bottom: 0; } }
    .section--title::after {
      content: "";
      width: 6%;
      height: 3px;
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: calc(50% - 3%);
      background: #F34A53;
      border: 1px solid #F34A53;
      border-radius: 20%;
      margin: 12px auto; }
      @media all and (max-width: 575px) {
        .section--title::after {
          width: 10%;
          height: 2px;
          left: calc(50% - 5%); } }

.basic-text {
  text-align: justify; }

.nav {
  height: 70px;
  padding: 15px 30px;
  position: sticky;
  top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5; }
  @media all and (max-width: 575px) {
    .nav {
      padding: 15px;
      border-bottom: 1px solid #e4e4e4; } }
  .nav--icons {
    display: flex; }
    .nav--icons-icon {
      padding-right: 15px; }
      .nav--icons-icon .icon-link {
        display: inline-block; }
        .nav--icons-icon .icon-link .fab {
          display: inline-block;
          font-size: 24px;
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-radius: 50%;
          text-align: center;
          color: #333333;
          transition: color 0.3s, transform 0.3s; }
          .nav--icons-icon .icon-link .fab:hover {
            cursor: pointer;
            color: #fff;
            background-color: #F34A53;
            transform: scale(1.2); }
          @media all and (max-width: 767px) {
            .nav--icons-icon .icon-link .fab {
              font-size: 20px; } }
  .nav--toggle-menu {
    display: none; }
    @media all and (max-width: 575px) {
      .nav--toggle-menu {
        display: block; } }
    .nav--toggle-menu .fas {
      font-size: 24px;
      cursor: pointer; }
  .nav--list {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px; }
    @media all and (max-width: 1199px) {
      .nav--list {
        padding-right: 0; } }
    @media all and (max-width: 575px) {
      .nav--list {
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        flex-direction: column; } }
    .nav--list-link {
      padding-left: 50px; }
      @media all and (max-width: 1199px) {
        .nav--list-link {
          padding-left: 30px; } }
      @media all and (max-width: 575px) {
        .nav--list-link {
          height: 50px;
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 15px;
          background-color: rgba(255, 255, 255, 0.9);
          border-bottom: 1px solid #e4e4e4; } }
      .nav--list-link .link-name {
        position: relative;
        line-height: 22px;
        font-family: "Poppins", sans-serif; }
        .nav--list-link .link-name::after {
          content: "";
          height: 1px;
          width: 0;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.2s;
          background-color: #F34A53;
          z-index: 2; }
        .nav--list-link .link-name:hover::after {
          width: 100%;
          transition: width 0.2s; }
        @media all and (max-width: 767px) {
          .nav--list-link .link-name {
            font-size: 14px; } }
        @media all and (max-width: 575px) {
          .nav--list-link .link-name {
            font-size: 16px; }
            .nav--list-link .link-name:hover::after {
              width: 0; } }
  .nav .mobile-open {
    left: 0;
    transition: all 0.2s; }
  .nav .mobile-close {
    left: -100%;
    transition: all 0.2s; }

.header {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media all and (max-width: 575px) {
    .header {
      padding: 0 15px; } }
  .header--name-sub-add {
    color: #F34A53; }

.about-me--text-link {
  font-weight: 500;
  text-decoration: underline; }

.projects .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border: 5px solid #e4e4e4;
  border-radius: 5px;
  padding: 20px 50px;
  margin-bottom: 20px; }
  .projects .project--title {
    display: inline;
    padding: 0 0 20px 0; }
  .projects .project--stack {
    font-size: 18px;
    padding: 0 0 20px 0;
    font-weight: 500; }
  .projects .project--box {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .projects .project--box .project-img-container {
      width: 50%;
      padding: 20px 20px 20px 0; }
      .projects .project--box .project-img-container .project-img {
        width: 100%;
        box-shadow: 35px 39px 44px -31px rgba(0, 0, 0, 0.75); }
    .projects .project--box .project-content {
      width: 50%;
      padding: 20px 0 20px 20px; }
      .projects .project--box .project-content .project-icons {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 50px; }
        .projects .project--box .project-content .project-icons .fas {
          font-size: 28px;
          padding: 10px;
          margin: 0 20px;
          border-radius: 10px;
          border: 4px solid #F34A53;
          color: #F34A53; }
          .projects .project--box .project-content .project-icons .fas:hover {
            color: #fff;
            background-color: #F34A53; }
