.experience {

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__text-container {
        width: 50%;
        &:first-of-type {
            padding-right: 50px;

            @media #{$max1199} {
                padding-right: 30px;
            }

            @media #{$max991} {
                padding-right: 0;
            }
        }

        @media #{$max991} {
            width: 100%;
            padding-right: 0;
        }
    }
    &__list {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__link {
        text-decoration: underline;
    }

    &__title {
        font-size: 16px;
        font-family: $main-font;
    }

    &__date {
        font-size: 14px;
    }
}