// $main-clr: #14ad7f;
$main-clr: #45c96a;
$main-clr-dark: #184324;
$main-clr-light: #17ad144f;
$white-clr: #fff;
$dark-clr: #333333;
$border-clr: #e4e4e4;
$transparent-white-clr: rgba(255, 255, 255, 0.9);
$transparent-dark-clr: rgba(19, 19, 19, 0.918);